@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 100%, 66%);
  --reda: rgb(100, 30, 255);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --border1: hsl(249, 99%, 64%);
  --border2: hsl(278, 94%, 30%);
}

html {
  font-size: 62.5%;
}

body,
#root {
  font-size: 1.8rem;
  height: 100%;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section1 {
  background: url("/images/bg-main-desktop.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
  row-gap: 3rem;
  color: var(--white);
}

.card-front,
.card-back {
  position: relative;
  left: 10vw;
}

.card-back {
  left: 17vw;
}

.card-front-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 3.2rem;
}

.card-number {
  margin-top: 5.6rem;
  font-size: 3rem;
  letter-spacing: 2px;
}

.bottom-info {
  margin-top: 2.2rem;
  display: flex;
  justify-content: space-between;
}

.card-back-info {
  position: absolute;
  top: 44%;
  right: 13%;
  font-size: 1.6rem;
}
